.body {
 font-family: 'DM Mono', monospace;
}

.navbar {
  overflow: hidden;
  background-color: #000000;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #d49c19;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background-color: #EEE;
  font-family: 'DM Mono', monospace;

a {
  text-decoration: none;
  color: red;
}

h1, h2, h3 {
  margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

#container {
background-color: white;
width:1240px;
margin-left:auto;
margin-right:auto;
}

#header {
  background-color: #27408B;
  color: white;
  text-align: left;
  padding: 20px;
}

#content {
  padding: 20px;
}

#nav {
  width: 200px;
  float:left;
}

#nav ul {
  list-style-type: none;
  padding : 0;
}

#nav .selected {
  font-weight:bold;
  text-align: left;
}

#main {
  width: 1240px;
  float: center;
  text-align: center;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #999999;
  color: white;
  text-align: right;
}